.start {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  z-index: -10;
  overflow: hidden;
}

.blackbox {
  width: 100vw;
  height: 150vh;
  background-color: black;
  border-radius: 50%;
  z-index: -4;
}

.titlebox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 35%;
}

.title {
  font-family: "ethnocentric";
  font-size: 4rem;
  color: white;
}

.descriptionbox1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 90%;
  bottom: 40%;
  height: auto;
}

.descriptionbox2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 90%;
  bottom: 35%;
  height: auto;
}

.description {
  font-family: "ethnocentric";
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  z-index: 100;
  height: 50px;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 3.3rem;
  }
  .descriptionbox1 {
    bottom: 45%;
  }
  .descriptionbox2 {
    bottom: 40%;
  }
  .description {
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .title {
    font-size: 2.5rem;
  }
  .descriptionbox1 {
    bottom: 45%;
  }
  .descriptionbox2 {
    bottom: 35%;
  }
  .description {
    width: 80%;
    font-size: 1.3rem;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
  .description {
    width: 80%;
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .title {
    font-size: 1.5rem;
  }
  .descriptionbox1 {
    bottom: 47%;
  }
  .descriptionbox2 {
    bottom: 44%;
  }
  .description {
    font-size: 0.7rem;
    text-align: center;
  }
  .descriptionbox1 {
    bottom: 45%;
  }
  .descriptionbox2 {
    bottom: 40%;
  }
}
@media screen and (max-width: 300px) {
  .title {
    top: 40%;
    font-size: 1.1rem;
  }
  .descriptionbox1 {
    bottom: 44%;
  }
  .descriptionbox2 {
    bottom: 40%;
  }
  .description {
    width: 80%;
    font-size: 0.5rem;
    text-align: center;
  }
}
@media screen and (max-height: 400px) {
  .titlebox {
    top: 30%;
    font-size: 2rem;
  }
  .descriptionbox1 {
    bottom: 35%;
  }
  .descriptionbox2 {
    bottom: 28%;
  }
  .description {
    bottom: 20%;
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
  }
}
.frame {
  position: absolute;
  z-index: 100;
}

.frametopbox {
  position: fixed;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.framebottombox {
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.frameleftbox {
  position: fixed;
  width: 20px;
  height: 100%;
  left: 0;
  background-color: white;
  z-index: 100;
}

.framerightbox {
  position: fixed;
  width: 20px;
  height: 100%;
  right: 0;
  background-color: white;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  .frametopbox {
    height: 10px;
  }
  .frameleftbox {
    width: 10px;
  }
  .framerightbox {
    width: 10px;
  }
  .framebottombox {
    height: 10px;
  }
}
.page2 {
  margin-bottom: 20px;
  position: relative;
  overflow: visible;
  box-shadow: 0 -20px 0 white;
  height: 100vh;
  z-index: 5;
  color: white;
}

.page2_layout {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  clip-path: inset(0 0 0 0);
}

.Textbox {
  position: fixed;
  background-attachment: fixed;
  top: 0;
  height: 100%;
  font-family: "Ethnocentric";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5rem;
  z-index: 5;
  white-space: nowrap;
  width: 100%;
}

.Copytextbox1 {
  flex-direction: row;
  display: flex;
}

.Copytextbox2 {
  flex-direction: row;
  display: flex;
}

.Copytextbox3 {
  flex-direction: row;
  display: flex;
}

.leftText {
  color: #FFFFFF;
  margin-right: 20px;
}

.rightText {
  color: #000000;
  text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
}

@media screen and (max-width: 1200px) {
  .Textbox {
    font-size: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .Textbox {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .page2 {
    margin-bottom: 10px;
    box-shadow: 0 -10px 0 white;
  }
  .Textbox {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  .Textbox {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .Textbox {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 300px) {
  .Textbox {
    font-size: 0.7rem;
  }
  .leftText {
    margin-right: 10px;
  }
  .rightText {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
}
@media screen and (max-height: 400px) {
  .Textbox {
    font-size: 1.5rem;
  }
}
.page3_background {
  margin-bottom: 20px;
  position: relative;
  overflow: visible;
  box-shadow: 0 -20px 0 white;
  height: 100vh;
  z-index: 5;
  color: white;
}

.page3_layout {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  clip-path: inset(0 0 0 0);
}

.black {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: black;
  backface-visibility: hidden;
  left: 20px;
  bottom: 20px;
  background-attachment: fixed;
}

.page3_Textbox {
  display: flex;
  position: fixed;
  background-attachment: fixed;
  left: calc(10vw + 20px);
  height: calc(100vh - 20px);
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.D-AD_description {
  width: 100%;
  flex-direction: column;
}

.descript1 {
  font-family: "Ethnocentric";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 40px;
  letter-spacing: 0.06em;
  color: gray;
}

.descript2 {
  font-family: "Ethnocentric";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 60px;
  color: #F4E45B;
  margin-bottom: 2vh;
}

.descript3 {
  font-family: "Ethnocentric";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  white-space: nowrap;
  color: #FFFFFF;
  margin-right: 10px;
}

.D-AD_M {
  position: fixed;
  display: flex;
  width: calc(15vw + 1%);
  top: 0%;
  height: calc(100vh - 40px);
  left: calc(70vw + 20px);
  align-items: center;
  justify-self: center;
  background-attachment: fixed;
}

.image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .page3_Textbox {
    width: 50%;
  }
  .D-AD_description {
    margin-left: 5%;
  }
  .descript1 {
    font-size: 1rem;
  }
  .descript2 {
    font-size: 2rem;
    line-height: 60px;
  }
  .descript3 {
    font-size: 1.2rem;
  }
  .D-AD_M {
    width: 18%;
  }
}
@media screen and (max-width: 900px) {
  .D-AD_description {
    margin-left: 5%;
  }
  .descript1 {
    font-size: 0.7rem;
  }
  .descript2 {
    font-size: 1.5rem;
    line-height: 60px;
  }
  .descript3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .page3_background {
    box-shadow: 0 -10px 0 white;
    margin-bottom: 10px;
  }
  .black {
    left: 10px;
    bottom: 10px;
  }
  .page3_Textbox {
    height: calc(50vh - 40px);
    left: calc(5vw + 20px);
    width: 85%;
  }
  .D-AD_description {
    margin-left: 5%;
  }
  .descript1 {
    font-size: 0.7rem;
  }
  .descript2 {
    font-size: 1.5rem;
    line-height: 60px;
  }
  .descript3 {
    font-size: calc(0.6rem + 1vw);
  }
  .D-AD_M {
    width: 40vw;
    left: calc(28vw + 20px);
    top: 17%;
  }
}
@media screen and (max-width: 400px) {
  .page3_Textbox {
    width: 80%;
  }
  .D-AD_description {
    margin-left: 5%;
  }
  .descript1 {
    font-size: 0.5rem;
    line-height: 30px;
  }
  .descript2 {
    font-size: 1.5rem;
    line-height: 50px;
  }
  .descript3 {
    font-size: 0.7rem;
  }
  .D-AD_M {
    width: calc(30% + 10vw);
    left: calc(28vw + 20px);
    top: 13%;
  }
}
@media screen and (max-width: 300px) {
  .D-AD_description {
    margin-left: 5%;
    margin-right: 5%;
  }
  .descript1 {
    font-size: 0.3rem;
    line-height: 30px;
  }
  .descript2 {
    font-size: 0.9rem;
    line-height: 40px;
  }
  .descript3 {
    font-size: 0.5rem;
  }
}
@media screen and (max-height: 440px) {
  .D-AD_description {
    margin-left: 5%;
  }
  .descript1 {
    font-size: 0.6rem;
  }
  .descript2 {
    font-size: 2rem;
    line-height: 60px;
  }
  .descript3 {
    font-size: 0.9rem;
  }
  .D-AD_M {
    width: 15%;
  }
}
.page4_layout {
  background: #82887C;
  overflow: visible;
  height: calc(100vh - 20px);
  position: relative;
  box-shadow: 0 -20px 0 white;
  z-index: 0;
  margin-bottom: 20px;
}

.Award_Section {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  clip-path: inset(0 0 0 0);
}

.fixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  top: 0%;
  background-attachment: fixed;
}

.Award {
  display: inline-flex;
  position: relative;
  margin-top: 10vh;
  margin-left: 10vw;
  height: 65px;
  font-family: "Ethnocentric";
  font-size: 1.8rem;
  align-items: center;
  justify-content: flex-start;
  color: #F4E45B;
}

.Award_table_title {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  left: 10vw;
  width: 80%;
  height: 40px;
  margin-top: 5%;
  font-family: "Raleway";
  font-size: 1.2rem;
  font-weight: 900;
  color: #FFFFFF;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #FFFFFF;
}

.Achievement {
  position: relative;
  width: 49%;
  margin-left: 15%;
}

.Project {
  position: relative;
  width: 25%;
}

.Date {
  position: relative;
  width: 25%;
}

.Award_table {
  display: flex;
  position: relative;
  width: 80%;
  flex-direction: column;
  color: #FFFFFF;
  left: 10vw;
}

.Award_row {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 15%;
  height: auto;
  min-height: 70px;
  font-weight: 400;
  border-width: 0px 0px 0.9px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  word-break: keep-all;
}

.Award_row:hover {
  color: black;
}

.Award_Achievement {
  width: 49%;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 0.9rem;
}

.Award_Project {
  width: 25%;
  font-size: 1rem;
}

.Award_Date {
  width: 25%;
  font-size: 1rem;
}

.line {
  display: block;
  position: relative;
  width: 80%;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  background-attachment: fixed;
  bottom: 10%;
  left: 10%;
}

@media screen and (max-width: 1200px) {
  .Award_table {
    top: 29%;
  }
  .line {
    top: 83%;
  }
}
@media screen and (max-width: 900px) {
  .Award {
    font-size: 1.4rem;
  }
  .Award_table_title {
    font-size: 1rem;
  }
  .Award_table {
    top: 28%;
  }
  .Award_row {
    margin-left: 10%;
  }
  .Achievement {
    margin-left: 10%;
    width: 59%;
  }
  .Award_Achievement {
    font-size: 0.8rem;
    width: 59%;
  }
  .Project {
    width: 25%;
  }
  .Award_Project {
    width: 25%;
    font-size: 0.8rem;
  }
  .Date {
    width: 15%;
    text-align: right;
  }
  .Award_Date {
    font-size: 0.8rem;
    width: 15%;
    text-align: right;
  }
  .line {
    bottom: 20%;
  }
}
@media screen and (max-width: 600px) {
  .page4_layout {
    min-height: 100vh;
    box-shadow: 0 -10px 0 white;
    margin-bottom: 10px;
  }
  .Award {
    font-size: 1rem;
  }
  .Award_table_title {
    font-size: 0.8rem;
    height: 30px;
    border-width: 1.5px 0px;
  }
  .Award_table {
    top: 25%;
  }
  .Award_row {
    margin-left: 0;
  }
  .Achievement {
    margin-left: 0;
    width: 59%;
  }
  .Award_Achievement {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 59%;
    font-size: 0.7rem;
  }
  .Project {
    width: 25%;
  }
  .Award_Project {
    width: 25%;
    font-size: 0.7rem;
  }
  .Date {
    width: 15%;
    text-align: right;
  }
  .Award_Date {
    width: 15%;
    text-align: right;
    font-size: 0.7rem;
  }
  .line {
    border-width: 1.5px 0px 0px 0px;
    bottom: 20%;
  }
}
@media screen and (max-width: 400px) {
  .Award {
    font-size: 0.8rem;
  }
  .Award_table {
    top: 23%;
  }
  .Award_table_title {
    font-size: 0.65rem;
    height: 25px;
  }
  .Award_Achievement {
    font-size: 0.55rem;
  }
  .Award_Project {
    font-size: 0.55rem;
  }
  .Award_Date {
    font-size: 0.55rem;
  }
  .line {
    bottom: 20%;
  }
}
.Team_Vision_Section {
  padding: 10%;
  width: 80%;
}

.Team_vision {
  position: relative;
  display: flex;
  width: 100%;
  font-family: "Ethnocentric";
  font-size: 1.8rem;
  align-items: center;
  height: auto;
  color: #F4E45B;
}

.vision {
  position: relative;
  font-family: "manrope Regular";
  flex-direction: column;
  width: 80%;
  margin-top: 5%;
  margin-left: 15%;
  font-size: 1rem;
  color: #FFFFFF;
}

.vision_text {
  height: auto;
  margin-bottom: 5%;
  word-break: keep-all;
}

@media screen and (max-width: 900px) {
  .Team_vision {
    font-size: 1.4rem;
  }
  .vision {
    margin-left: 10%;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .Team_vision {
    font-size: 1rem;
  }
  .vision {
    margin-left: 0;
    width: 100%;
    font-size: 0.8rem;
    margin-top: 10%;
  }
}
@media screen and (max-width: 400px) {
  .Team_vision {
    font-size: 0.8rem;
  }
  .vision {
    font-size: 0.7rem;
  }
}
.Langbutton {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 50px;
  top: 5%;
  color: white;
  width: 50px;
}
.Langbutton .LangIcon {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.Langbutton:hover {
  width: 100px;
}
.Langbutton:hover .button {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 0.8rem;
}

.button {
  display: none;
}

.toggleOn {
  width: 2rem;
  font-weight: 900;
}

.toggleOn::after {
  content: "|";
  float: right;
  color: gray;
}

.toggleOff {
  width: 2rem;
  color: gray;
}

@media screen and (max-width: 900px) {
  .Langbutton:hover .button {
    font-size: 0.8rem;
  }
  .toggleOff {
    width: 1.7rem;
  }
  .toggleOn {
    width: 1.7rem;
  }
  .Langbutton {
    width: 30px;
    right: 50px;
  }
  .Langbutton .LangIcon {
    width: 20px;
  }
}
@media screen and (max-width: 600px) {
  .Langbutton:hover .button {
    font-size: 0.6rem;
  }
  .toggleOff {
    width: 1.5rem;
  }
  .toggleOn {
    width: 1.5rem;
  }
  .Langbutton {
    right: 30px;
    top: 3%;
  }
  .Langbutton .LangIcon {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .Langbutton:hover .button {
    font-size: 0.7rem;
  }
  .toggleOff {
    width: 1.3rem;
  }
  .toggleOn {
    width: 1.3rem;
  }
  .Langbutton {
    top: 3%;
    right: 25px;
  }
  .Langbutton .LangIcon {
    width: 85%;
  }
}
.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  border-color: white;
  border-top-width: 2px;
  border-bottom-width: 0px;
  border-style: solid;
  height: 10vh;
  bottom: 20px;
  background: #82887C;
}

.footer_title {
  font-family: "Ethnocentric";
  color: white;
  font-size: 1.3rem;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.git {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 0 auto;
  width: 10%;
  color: white;
}

.git:hover {
  color: black;
}

.mail {
  margin: 0 auto 0 0;
  width: 10%;
  color: white;
}

.mail:hover {
  color: black;
}

@media screen and (max-width: 900px) {
  .footer_title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    bottom: 10px;
    height: 6vh;
  }
  .footer_title {
    font-size: 0.8rem;
  }
  .git {
    margin-right: 20px;
  }
  .mail {
    margin-left: 20px;
  }
}
.scrollmotion {
  position: relative;
  z-index: 4;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

@font-face {
  font-family: "Ethnocentric";
  src: url("./assets/font/ethnocentric rg.otf");
}
@font-face {
  font-family: "hemi head";
  src: url("./assets/font/hemi head bd it.ttf");
}
@font-face {
  font-family: "raleway";
  src: url("./assets/font/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "manrope medium";
  src: url("./assets/font/Manrope-Medium.ttf");
}
@font-face {
  font-family: "manrope Regular";
  src: url("./assets/font/Manrope-Regular.ttf");
}
@font-face {
  font-family: "manrope SemiBold";
  src: url("./assets/font/Manrope-SemiBold.ttf");
}
@font-face {
  font-family: "manrope Bold";
  src: url("./assets/font/Manrope-Bold.ttf");
}
@font-face {
  font-family: "manrope ExtraBold";
  src: url("./assets/font/Manrope-ExtraBold.ttf");
}/*# sourceMappingURL=index.css.map */