.footer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-color: white;
    border-top-width:2px;
    border-bottom-width: 0px;
    border-style: solid;
    height: 10vh;
    bottom:20px;
    background: #82887C;
    // padding-bottom: 20px;
    
}

.footer_title{
    font-family: 'Ethnocentric';
    color: white;
    font-size: 1.3rem;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.git {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin: 0 0 0 auto;
    width: 10%;
    color: white;
}

.git:hover {
    color: black;
}


.mail {
    margin: 0 auto 0 0;
    width: 10%;
    color: white;
}

.mail:hover {
    color:black;
}

@media screen and (max-width: 900px) {
    .footer_title{
        font-size: 1rem;
        
    } 
}
@media screen and (max-width: 600px) {
    .footer{
        bottom: 10px;
        height: 6vh;
        
    }

    .footer_title{
        font-size: 0.8rem;
        
    }

    .git {
        margin-right: 20px;
    }

    .mail {
        margin-left: 20px;
    }
}
