@import './styles/components/mainCatbox.scss';
@import './styles/components/frame.scss';
@import './styles/components/copytext.scss';
@import './styles/components/D_AD.scss';
@import './styles/components/teamintro.scss';
@import './styles/components/LanguageButton.scss';
@import './styles/components/footer.scss';
@import './styles/pages/mainPage.scss';

html {
    font-size: 20px;
}
body {
    margin: 0;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

@font-face {
    font-family: "ethnocentric";
    src: url("./assets/font/ethnocentric\ rg.otf");
}

@font-face {
    font-family: "hemi head";
    src: url("./assets/font/hemi\ head\ bd\ it.ttf");
}

@font-face {
    font-family: "raleway";
    src: url("./assets/font/Raleway-VariableFont_wght.ttf");
}

