@import './styles/components/Layout/mainCatbox.scss';
@import './styles/components/Layout/frame.scss';
@import './styles/components/Layout/copytext.scss';
@import './styles/components/Layout/D_AD.scss';
@import './styles/components/Layout/teamAward.scss';
@import './styles/components/Layout/teamVision.scss';
@import './styles/components/LanguageButton.scss';
@import './styles/components/footer.scss';
@import './styles/pages/mainPage.scss';

html {
    font-size: 20px;
}
body {
    margin: 0;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

@font-face {
    font-family: "Ethnocentric";
    src: url("./assets/font/ethnocentric\ rg.otf");
}

@font-face {
    font-family: "hemi head";
    src: url("./assets/font/hemi\ head\ bd\ it.ttf");
}

@font-face {
    font-family: "raleway";
    src: url("./assets/font/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "manrope medium";
    src: url("./assets/font/Manrope-Medium.ttf");
}

@font-face {
    font-family: "manrope Regular";
    src: url("./assets/font/Manrope-Regular.ttf");
}
@font-face {
    font-family: "manrope SemiBold";
    src: url("./assets/font/Manrope-SemiBold.ttf");
}
@font-face {
    font-family: "manrope Bold";
    src: url("./assets/font/Manrope-Bold.ttf");
}
@font-face {
    font-family: "manrope ExtraBold";
    src: url("./assets/font/Manrope-ExtraBold.ttf");
}

